* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px black;
}

nav .logo h1 {
    color: white;
    text-shadow: 0 0 7px gold;
}
nav .logo span {
    color: rgb(7, 113, 219);
    text-shadow: 0 0 7px rgb(7, 113, 219);
}

nav .links {
    display: flex;
}

nav .links .link a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    transition: 0.2s linear;
}

nav .links .link a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: rgb(7, 113, 219);
    transition: 0.3s linear;
}

nav .links .link a:hover::before,
nav .links .link a:hover {
    width: 100%;
    color: rgb(7, 113, 219);
}

nav .buttons {
    width: 250px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .buttons .btn {
    margin: 0 5px;
    width: 50%;
    height: 5vh;
    
}

.buttons .btn button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(7, 113, 219);
    transition: 0.2s linear;
}

.buttons .btn button:hover {
    color: rgb(7, 113, 219);
    border: 3px solid rgb(7, 113, 219);
    background-color: white;
}

section {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.content {
    margin-top: 5%;
    margin-left: 10%;
    width: 40%;
    color: white;
}

.content h1 {
    font-size: 4rem;
    text-shadow: 0 0 7px gold;
}

.content h2 {
    font-size: 4rem;
    text-shadow: 0 0 7px gold;
}

.content h2 span {
    color: rgb(7, 113, 219);
    text-shadow: 2px 2px 3px rgb(7, 113, 219);
}

.content p {
    width: 60%;
    margin: 10px 0;
}

.content button {
    width: 40%;
    height: 7vh;
    border-radius: 10px;
    background-color: rgb(7, 113, 219);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 20px;
    transition: 0.2s linear;
}

.content button:hover {
    font-size: 1.3rem;
    background-color: white;
    color: rgb(7, 113, 219);
    border: 1px solid rgb(7, 113, 219);
}



